@import '../../../node_modules/normalize.css/normalize.css';
@import './animations.scss';

* {
  box-sizing: border-box;
}

.calc {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: black;
  display: flex;
  width: 95%;
  max-width: 1220px;
  font-size: 20px;
  background-color: #FAFAFA;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto;

  & h1, h2, h3 {
    line-height: 38px;
    color: black;
    font-weight: 700;
  }

  & .btn-primary {
    width: 100%;
    background-color: #0381C7;
    border-radius: 4px;
    padding: 27px 50px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 33px;

    @media screen and (max-width: 991px) {
      font-size: 20px;
      padding: 15px 30px;
    }
  }

  & label {
    font-weight: 400;
  }

  h1, p {
    margin: 0;
  }

  button {
    cursor: pointer;
    border: 0;
  }

  ul {
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 10px;

    & li {
      padding-left: 19px;
      margin-bottom: 15px;
      list-style: none;
      font-size: 19px;
      background: url('https://uploads-ssl.webflow.com/618d84f7039384e134b466ec/6236630bd589f11b55be16e6_list-dot.svg');
      background-repeat: no-repeat;
      background-position: top left;
    }
  }

  @media screen and (max-width: 768px){
    font-size: 16px;
  }

  @media screen and (max-width: 479px){
    flex-direction: column;
  }
  
  &__main {
    width: 100%;
    padding: 40px;

    @media screen and (max-width: 768px){
      padding: 20px;
    }

    @media screen and (max-width: 479px){
      padding: 12px;
    }

    & .calc__txt-sm {
      max-width: 305px;
      margin-left: auto;
      text-align: right;
      line-height: 100%;
    }

    & h1 {
      font-size: 38px;

      @media screen and (max-width: 768px){
        font-size: 25px;
      }
    }

    &-actions {
      margin-top: 48px;
    }

    &-back {
      background-color: transparent;
      font-size: 20px;
      color: #667085;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding: 0;

      & svg {
        margin-right: 12px;
      }
    }

    &-form {
      margin-top: 40px;
    }
  }
  
  &__aside {
    width: 100%;
    max-width: 500px;
    display: block;
    padding: 45px 30px 30px 30px;
    background-color: #DEECFA;

    @media screen and (max-width: 991px) {
      max-width: 300px;
      padding: 35px 20px 20px 30px;
    }

    @media screen and (max-width: 479px){
      max-width: none; 
      padding: 30px 15px;
    }

    & p {
      font-size: 10px;
      line-height: 120%;
    }

    &-head {
      text-align: center;
      padding: 0px 20px;
      margin-bottom: 20px;

      & p {
        font-size: 24px;
        line-height: 140%;
      }

      & svg {
        margin-bottom: 25px;
      }
    }

    & ul > li {
      line-height:100%;
      background-position: 0px;
    }

    & h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 85%;
      color: #0381C7;
      margin-bottom: 8px;

      @media screen and (max-width: 768px){
        font-size: 28px;
      }

      & span {
        font-size: 16px;
        margin-bottom: -20px;

        @media screen and (max-width: 768px){
          font-size: 14px;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 15px 20px 15px;
      margin-bottom: 33px;
      background-color: white;
      border-radius: 4px;
      position: relative;
      background-image: url('https://uploads-ssl.webflow.com/618d84f7039384e134b466ec/6236630bfb70cf5c79c82130_file-bg.svg');
      background-repeat: no-repeat;
      background-position: top right;

      &:before {
        content: '';
        position: absolute;
        top: -12px;
        width: 68px;
        height: 25px;
        background: url('https://uploads-ssl.webflow.com/618d84f7039384e134b466ec/6236630be162136ff721f777_file-decor.svg') transparent no-repeat center center / cover;
      }

      &-col {
        margin-top: 10px;
        width: 100%;
      }
    }

    &-btn {
      font-size: 15px;

      & a {
        margin-left: 5px;
        font-size: 24px;
        font-weight: 700;
        color: black;
      }
    }

    &-list {
      background-color: #F7FBFF;
      border-radius: 4px;
      margin-top: 16px;
      padding: 20px;
      font-size: 13px;
      width: 100%;

      &-label {
        line-height: 140%;
        font-weight: 700;
        font-size: 27px;
        color: #0381C7;
      }

      &-cars {
        position: absolute;
      }
    }

    &-actions {
      text-align: center;

      & .btn-primary {
        margin-top: 7px;
      }
    }

    &-col2 {
      .calc__aside-info {
        padding-bottom: 180px;
        margin-bottom: 140px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 38px;

        &-col {
          align-items: flex-start;
        }

        &:before {
          margin: 0 auto;
        }
      }

      .calc__aside-list-label {
        font-size: 20px;
        color: black;
        margin-bottom: 5px;
      }

      .calc__aside-list-cars {
        bottom: -120px;
        left: -20px
      }
    }
  }

  &__big-slider {
    margin-bottom: 50px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;

    &-head {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.02em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 991px) {
        font-size: 13px;
      }

      & div:nth-child(1) { color: #53B1FD; }
      & div:nth-child(2) { color: #93A842; }
      & div:nth-child(3) { color: #FDB022; }
    }

    &-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
      font-weight: 700;
      padding: 0px 5%;
      user-select: none;

      &:nth-child(1) { 
        background: #53B1FD; 
      }
      &:nth-child(2) { 
        background: #93A842; 
      }
      &:nth-child(3) { 
        background: #FDB022; 

        & div {
          display: none;
        }
      }
    }
    
    & .slider-handle {
      position: absolute;
      z-index: 10;
      right: -3px;
      border-radius: 0px;
      height: 60px;
      width: 6px;
      box-shadow: none;
      cursor: ew-resize;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;

      &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 60px;
      }

      &__icon {
        position: absolute;
        pointer-events: none;
      }

      &:active {
        &:before {
          width: 300px;
        }
      }
    }
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    margin-bottom: 33px;
    
    &-inp {
      width: 100%;
      max-width: 230px;
      --slider-bg: #C3C9CD;
      --slider-connect-bg: #0381C7;

      --slider-handle-width: 30px;
      --slider-handle-height: 30px;
      --slider-handle-shadow: none;
      --slider-handle-shadow-active: none;
      --slider-handle-border: 6px solid #0381C7;

      @media screen and (max-width: 768px){
        max-width: 150px;
      }
    }
  }

  &__radio-btn {
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    margin-left: -2px;
    margin-right: -2px;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    color: #3581C2;
    pointer-events: none;

    & input {
      display: none;
    }
  }

  &__radio-btn.active {
    font-weight: 700;
    color: white;
    background-color: #3581C2;
    border-radius: 4px;
  }

  &__radios {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    &-wrapper {
      margin-left: auto;
      max-width: 240px;
      display: flex;
      height: 38px;
      border: 2px solid #3581C2;
      border-radius: 4px;
      cursor: pointer;

      &.wrapper--countries {
        & label {
          pointer-events: all;
        }
      }
    }
  }

  &__span {
    color: #0381C7;
    font-weight: 700;

    & span {
      font-weight: 400;
    }
  }

  &__txt-sm {
    font-size: 15px;
    color: #636363;
  }
}